.BuildControl_container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5px 0;
}
.BuildControl {
  display: flex;
  margin: 5px;
  /* justify-content: flex-end; */
}
.BuildControl_container button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.BuildControl_container button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl_container button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl_container .Less {
  background-color: #d39952;
  color: white;
}

.BuildControl_container .More {
  background-color: #8f5e1e;
  color: white;
}

.BuildControl_container .Less:hover,
.BuildControl_container .Less:active {
  background-color: #daa972;
  color: white;
}

.BuildControl_container .More:hover,
.BuildControl_container .More:active {
  background-color: #99703f;
  color: white;
}
